<div class="containera_mall_main">
	<div class="containera_mall_img">
		<div class="containera_mall_box containera_mall_boxa">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=2029" target="_blank">
				<div style="width:179px; height:180px;">
					<img src="https://www.yuntiaowei.com/cloudSeason//data/images//ceaa2a419c9e4fe4a66fe86b1c3cd870.jpg" width="100%" height="100%">
				</div>
				<h5>高鲜味精</h5>
				<h3>1包*47斤</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 750.00 </h3>
			</a>
		</div>
		<div class="containera_mall_box containera_mall_boxc">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=202" target="_blank">
				<div style="width:179px; height:180px;">
					<img src="https://www.yuntiaowei.com/cloudSeason//data/images//43d93e515c284811b7f88c6a16af8acc.jpg" width="100%" height="100%">
				</div>
				<h5>玉米淀粉</h5>
				<h3>1袋*40斤</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 1340.00 </h3>
			</a>
		</div>
		<div class="containera_mall_box containera_mall_boxa">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=2626" target="_blank">
				<div style="width:179px; height:180px;overflow:hidden">
					<img src="https://imgsa.baidu.com/baike/crop%3D0%2C33%2C561%2C370%3Bc0%3Dbaike80%2C5%2C5%2C80%2C26/sign=e7308553a1ec8a1300550da0ca33bdbc/0d338744ebf81a4ce1134d75df2a6059252da66d.jpg" >
				</div>
				<h5>豆粕</h5>
				<h3>100斤</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 5000.00 </h3>
			</a>
		</div>
		<div class="containera_mall_box containera_mall_boxc">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=646" target="_blank">
				<div style="width:179px; height:180px;overflow:hidden">
					<img src="http://a.hiphotos.baidu.com/baike/w%3D268%3Bg%3D0/sign=8f362e5f2f1f95caa6f595b0f12c1803/91529822720e0cf3cff665da0046f21fbe09aa89.jpg" >
				</div>
				<h5>酵母提取物</h5>
				<h3>1箱*100斤</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 6000.00 </h3>
			</a>
		</div>
		<div class="containera_mall_box containera_mall_boxa">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=1940" target="_blank">
				<div style="width:179px; height:180px;overflow:hidden">
					<img src="http://h.hiphotos.baidu.com/baike/w%3D268%3Bg%3D0/sign=1672a3ee808ba61edfeecf29790ff037/b3fb43166d224f4a87e3d6370bf790529822d198.jpg">
				</div>
				<h5>三氯蔗糖</h5>
				<h3>1袋*25千克</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 425.00 </h3>
			</a>
		</div>
		<div class="containera_mall_box containera_mall_boxc">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=3521" target="_blank">
				<div style="width:179px; height:180px;">
					<img src="https://www.yuntiaowei.com/cloudSeason//data/images//d593ced1af154e65a87fedd7dfdface2.jpg" width="100%" height="100%">
				</div>
				<h5>大豆</h5>
				<h3>1箱*8小盒*30袋*40g</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 288.00 </h3>
			</a>
		</div>
		<div class="containera_mall_box containera_mall_boxa">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=17178" target="_blank">
				<div style="width:179px; height:180px;">
					<img src="https://www.yuntiaowei.com/cloudSeason//upload/shop/goods/91aeceb7c88d8475021a602874a686a1.jpg" width="100%" height="100%">
				</div>
				<h5>红小豆</h5>
				<h3>1箱*8小盒*60袋*400g</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 70.00 </h3>
			</a>
		</div>
	</div>
</div>
<div class="containera_mall_main">
	<div class="containera_mall_img">
		<div class="containera_mall_box containera_mall_boxa">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=2029" target="_blank">
				<div style="width:179px; height:180px;">
					<img src="https://www.yuntiaowei.com/cloudSeason//data/images//5263b471adaa4cb9b1b81a045c59ca01.jpg" width="100%" height="100%">
				</div>
				<h5>食用纯碱</h5>
				<h3>1包*47斤</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 750.00 </h3>
			</a>
		</div>
		<div class="containera_mall_box containera_mall_boxc">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=202" target="_blank">
				<div style="width:179px; height:180px;">
					<img src="https://www.yuntiaowei.com/cloudSeason//data/images//2093b4e680ec4b009358c561ee956f39.jpg" width="100%" height="100%">
				</div>
				<h5>食用碱</h5>
				<h3>1袋*40斤</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 1340.00 </h3>
			</a>
		</div>
		<div class="containera_mall_box containera_mall_boxa">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=2626" target="_blank">
				<div style="width:179px; height:180px;">
					<img src="https://www.yuntiaowei.com/cloudSeason//data/images//3479f7863b67419584651eb504fd210a.jpg" width="100%" height="100%">
				</div>
				<h5>小苏打</h5>
				<h3>100斤</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 5000.00 </h3>
			</a>
		</div>
		<div class="containera_mall_box containera_mall_boxc">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=646" target="_blank">
				<div style="width:179px; height:180px;">
					<img src="https://www.yuntiaowei.com/cloudSeason//data/images//58ba1e8788454a9181c3ebb1afb648a5.jpg" width="100%" height="100%">
				</div>
				<h5>安琪酵母</h5>
				<h3>1箱*100斤</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 6000.00 </h3>
			</a>
		</div>
		<div class="containera_mall_box containera_mall_boxa">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=1940" target="_blank">
				<div style="width:179px; height:180px;">
					<img src="https://www.yuntiaowei.com/cloudSeason//data/images//225f8c9231e7456e92246373ef980997.jpg" width="100%" height="100%">
				</div>
				<h5>喜来酵母提取物</h5>
				<h3>1袋*25千克</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 425.00 </h3>
			</a>
		</div>
		<div class="containera_mall_box containera_mall_boxc">
			<a class="containera_mall_a" href="https://www.yuntiaowei.com:443/cloudSeason/web/goods/goodsInfo.shtml?goodsId=3521" target="_blank">
				<div style="width:179px; height:180px;">
					<img src="https://www.yuntiaowei.com/cloudSeason//data/images//234e051ad2a245e69ec2595249eee582.jpg" width="100%" height="100%">
				</div>
				<h5>金桂高活性酵母</h5>
				<h3>1箱*8小盒*30袋*40g</h3>
				<h3 style="color:#ed4f27;font-size:14px;">¥ 288.00 </h3>
			</a>
		</div>
	</div>
</div>