<div class="index_footer_mainb">
	<div class="site-info-nav">
		<ul>
			<li><h3>我要买调味品</h3></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=如何自己找货"><h4>如何自己找货</h4></a></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=如何发布采购需求"><h4>如何发布采购需求</h4></a></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=如何查看采购报价"><h4>如何查看采购报价</h4></a></li>
		</ul>
		
		<ul>
			<li><h3>我要卖调味品</h3></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=如何为采购信息供货"><h4>如何为采购信息供货</h4></a></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=如何发布供应信息"><h4>如何发布供应信息</h4></a></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=如何查看供应询价"><h4>如何查看供应询价</h4></a></li>
		</ul>

		<ul>
			<li><h3>商城购物指南</h3></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=购物流程"><h4>购物流程</h4></a></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=支付方式"><h4>支付方式</h4></a></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=订单管理"><h4>订单管理</h4></a></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=配送方式"><h4>配送方式</h4></a></li>
		</ul>
	
		<ul>
			<li><h3>常见问题</h3></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=会员注册流程"><h4>会员注册流程</h4></a></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=无法登录/忘记密码"><h4>无法登录/忘记密码</h4></a></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=供应商认证"><h4>供应商认证</h4></a></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=修改绑定手机"><h4>修改绑定手机</h4></a></li>
		</ul>

		<ul>
			<li><h3>供应商合作</h3></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=供应商入驻流程"><h4>供应商入驻流程</h4></a></li>
			<li><a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/question/web/detailView.shtml?keywords=商品上架流程"><h4>商品上架流程</h4></a></li>
		</ul>
	</div>
</div>
<div class="index_footer2">
	<div class="index_footer2_txt" style="padding-top:25px ">
		<a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/web/companies/qyjs.shtml">关于我们</a> 丨
		<a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason//web/companies/flsm.shtml">法律声明</a> 丨
		<a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason//web/companies/fwxy.shtml">服务协议</a> 丨<a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/web/companies/lxwm.shtml">联系我们</a> 丨
		<a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/web/companies/yqlj.shtml">友情链接</a> 丨
		<a target="_blank" href="https://www.yuntiaowei.com:443/cloudSeason/web/companies/wzdt.shtml">网站地图</a> 
	</div>
	<div class="footer_papers">
		<span class="index_footer2_txt ">增值电信业务经营许可证 <a href="https://tsm.miit.gov.cn/pages/home.aspx" target="_blank">穗B2-20160190</a><em id="index_footer2_beian"></em></span>
		<span class="index_footer2_txt ">穗ICP备 <a href="http://www.miitbeian.gov.cn/" target="_blank">16021056号-1</a><em id="index_footer2_beian"></em></span>		
	</div>
	<div class="index_footer_icons" style="padding:10px 0 25px 0;">
		<a id="_pingansec_bottomimagelarge_brand" href="http://si.trustutn.org/info?sn=481161011024736637981&amp;certType=1" target="_blank"><img src="https://www.yuntiaowei.com:443/cloudSeason/images/index/brand_bottom_large.jpg"></a>
		<a id="___szfw_logo___" href="https://credit.szfw.org/CX20160922025737550496.html" target="_blank"><img class="szfw_logo" src="https://www.yuntiaowei.com:443/cloudSeason/images/index/cert.png" border="0"></a>
		<a href="javascript:void(0);" onclick="js_method()"><img src="https://www.yuntiaowei.com:443/cloudSeason/images/index/shiming.jpg"></a>
		<a href="javascript:void(0);" onclick="js_method()"><img src="https://www.yuntiaowei.com:443/cloudSeason/images/index/gongshang.jpg"></a>
		<a href="javascript:void(0);" onclick="js_method()"><img src="https://www.yuntiaowei.com:443/cloudSeason/images/index/zhengxin.jpg"></a>
		<a href="javascript:void(0);" onclick="js_method()"><img src="https://www.yuntiaowei.com:443/cloudSeason/images/index/anquan.jpg"></a>
		<a href="javascript:void(0);" onclick="js_method()"><img src="https://www.yuntiaowei.com:443/cloudSeason/images/index/aqjianche.jpg"></a>			
	</div>	
</div>