<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>有酱料|调味品领域专业垂直的B2B网站,全球一流的调味品一站式电商平台</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui fixed menu navbar">
      <div class="container">
        <a href="/" class="item">有酱料</a>
        <div class="item">一起来改变酱料世界</div>
        <div class="right menu">
            <%if(session.isLogin){%>
            <span class="item"><%= session.userName %></span>
            <a href="/logout" class="item">登出</a>
            <%}else{%>
            <a href="/signup" class="item">注册</a>
            <a href="/signin" class="item">登录</a>
            <% } %>
        </div>
      </div>
    </div>

    <% if (flash && flash.success) { %>
      <div class="flash">
        <div class="ui green message"><i class="close icon"></i><%= flash.success %></div>
      </div>
    <% } %>
    <% if (flash && flash.error) { %>
      <div class="flash">
        <div class="ui red message"><i class="close icon"></i><%= flash.error %></div>
      </div>
    <% } %>

    <script type="text/javascript">
      $('.message .close').on('click', function() {
        $(this).closest('.message').fadeOut();
      });
    </script>